.input_form {
    display: flex;
    justify-content: center;
    gap: 10%;
    font-size: 100%;
    background-color: rgba(2, 104, 174, 0.1);
    margin: 1%;
    border: 0.1em solid;
    padding: 1%
}
#columns_to_show {
    display: flex;
    flex-direction: column;
}
#languages {
    display: flex;
    flex-direction: column;
}
/*input[name="lang"] {*/
/*    background-color: rgb(84, 105, 212);*/
/*    !*box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;*!*/
/*    color: #fff;*/
/*}*/
input[name="submit"] {
    width: 10em;
    height: 3em;
    background-color: rgb(84, 105, 212);
    /*box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;*/
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}
table, th, td {
    border:1px solid black;
}
table {
    width: 100px;
    border-radius: 5px;
    /*font-size: 12px;*/
    font-weight: normal;
    border-collapse: collapse;
    /*width: 100%;*/
    /*max-width: 100%;*/
    white-space: nowrap;
    background-color: white;
    border:1px solid black;
}
td, th {
    text-align: center;
    padding: 8px;
    border:1px solid black;
}
td {
    /*font-size: 12p;*/
    border:1px solid black;
}

#results {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
