code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
blockquote {
    font-style: italic;
}

section {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}
li {
    list-style-type: square;
}

li li {
    list-style-type: square;
}